# Maven
target/
**/target/

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml

# Visual Studio Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp

# Archivos compilados de Java
*.class